<!-- component -->
<body class="bg-gray-100">
  <div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
      <form>
        <div class="mb-4">
          <label for="nombre" class="block mb-2 text-sm text-gray-600"></label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="apellido" class="block mb-2 text-sm text-gray-600"
            >Image</label
          >
          <input
            type="file"
            id="file"
            name="file"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block mb-2 text-sm text-gray-600"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            placeholder="name@gmail.com"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="password" class="block mb-2 text-sm text-gray-600"
            >Total votes</label
          >
          <input
            type="text"
            id="totalVotes"
            name="totalVotes"
            value="619"
            readonly
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
            required
          />
        </div>
        <div class="mb-6">
          <label for="confirmPassword" class="block mb-2 text-sm text-gray-600"
            >Total votes to win</label
          >
          <input
            type="votesToWin"
            id="votesToWin"
            name="votesToWin"
            value="381"
            readonly
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
            required
          />
        </div>
        <button
          type="submit"
          class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2"
        >
          Save Edit
        </button>
      </form>
    </div>
  </div>
</body>
