<section class="flex items-center justify-center">
  <img src="../../../assets/src_left.png" class="hidden sm:block px-4" alt="" />
  <div
    class="right w-96 mt-8 flex flex-col justify-center items-center rounded-sm border-1 sm:border-2"
  >
    <img
      class="logo w-44 py-10 cursor-pointer"
      src="../../../assets/insta-logo.png"
      alt="insta logo"
    />

    <input
      class="w-72 p-2 text-sm border-2"
      type="text"
      placeholder="Phone number, username, or email"
    />
    <input
      class="w-72 p-2 mt-2 text-sm border-2"
      type="password"
      placeholder="Password"
    />
    <button
      id="loginn"
      class="login text-sm bg-blue-500 w-72 text-center py-2 text-white m-4 rounded-md cursor-pointer"
      type="submit"
      value="submit"
    >
      Log in
    </button>
    <p class="or text-xs text-gray-400 font-semibold">OR</p>
    <a href="#" target="_blank">
      <p class="flex m-6 text-sm text-blue-900 font-bold cursor-pointer">
        <img class="w-8 h-5" src="../../../assets/favicon.png" alt="fblogo" />
        Log in with Facebook
      </p>
    </a>

    <p class="forgot text-xs text-blue-900 cursor-pointer">Forgot password?</p>

    <p class="mt-8 text-sm">
      Dont have an account?<span class="font-bold text-blue-400 cursor-pointer">
        Sign up</span
      >
    </p>

    <p class="mt-8 mb-4">Get the app</p>
    <ul class="flex cursor-pointer space-x-3 mb-4">
      <li>
        <a href="#" target="_blank"
          ><img class="w-32" src="../../../assets/appstore.png" alt="apple"
        /></a>
      </li>
      <li>
        <a href="#" target="_blank"
          ><img class="w-32" src="../../../assets/googleplay.png" alt="android"
        /></a>
      </li>
    </ul>
  </div>
</section>
