<section class="flex h-full py-10 justify-center items-center">
  <div
    class="max-w-sm bg-white p-4 h-fit border border-t-transparent sm:border-t border-gray-200 rounded-lg sm:shadow"
  >
    <a href="#">
      <img
        class="rounded-t-lg w-full mx-auto"
        src="../../../assets/vote_img.avif"
        alt=""
      />
    </a>
    <div class="p-5 flex-col">
      <!-- <h2 class="font-medium">PLEASE VOTE FOR ME</h2> -->
      <div class="flex flex-col py-2">
        <a
          routerLink="/hotmail"
          class="items-center px-3 py-2 mb-2 bg-[#0272B7] text-sm font-medium text-center text-white rounded-md"
          >VOTE WITH HOTMAIL <i class="fa-solid fa-envelope fa-bounce"></i
        ></a>
        <a
          routerLink="/ig"
          class="items-center px-3 py-2 mb-2 text-sm font-medium text-center text-white rounded-md"
          style="
            background: linear-gradient(
              45deg,
              #405de6,
              #5851d8,
              #833ab4,
              #c13584,
              #e1306c,
              #fd1d1d
            );
          "
          >VOTE WITH IG
          <i class="font-bold text-black fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="flex flex-col w-full py-2">
      <p
        class="bg-[#AFFAFD] py-3 border border-l-[#47CDCF] bg-opacity-10 border-t-0 border-b-0 border-r-0 border-l-2"
      >
        <i class="fa fa-home text-[#47CDCF] px-2"></i>Total Votes Cast: 619 out
        of 1000
      </p>
      <p class="py-3 text-gray-500">
        <i class="fa fa-check px-2"></i>Total Votes to win: 381
      </p>
      <p class="py-3 text-gray-500">
        <i class="fa fa-question-circle px-2"></i>Help
      </p>
    </div>
  </div>
</section>
